<!-- FOOTER SECTION -->
<footer class="site-footer">
    <div class="footer-container">

        <!-- LEFT COLUMN -->
        <div class="footer-left">
            <h4>CONTACT</h4>
            <p>
                1st Floor, House 12, Msolomi Street, Mwinjuma Road near<br>
                Kinondoni Vijana. P.O. Box 76762, Dar es Salaam<br>
                +255 677 088 088 & +255 750 881 888<br>
                info@nukta.co.tz
            </p>

            <div class="footer-socials">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="footer-right">
            <p>
                <span class="red-plus">+</span>
                <a href="#" class="footer-link">Privacy and Data Protection policy</a>
            </p>
            <p>
                <span class="red-plus">+</span>
                <a href="#" class="footer-link">Editorial policy</a>
            </p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>Copyright © 2025 Nukta Africa | Powered by RD-XI</p>
    </div>
</footer>

